treechildren::-moz-tree-row(even) { background-color: #CFCFCF; }
treechildren::-moz-tree-row(odd) { background-color: #DFDFDF; }

treechildren::-moz-tree-row(selected) { background-color: #4F4F4F; }
treechildren::-moz-tree-row(even, selected) { background-color: #4F4F4F; }
treechildren::-moz-tree-row(odd, selected) { background-color: #4F4F4F; }

treechildren::-moz-tree-row(even) { border-color: #CFCFCF; }

treechildren::-moz-tree-cell-text(even) { color: #333333; }
treechildren::-moz-tree-cell-text(odd) { color: #333333; }

treechildren::-moz-tree-cell-text(selected) { color: #ffffff; }
treechildren::-moz-tree-cell-text(even, selected) { color: #ffffff; }
treechildren::-moz-tree-cell-text(odd, selected) { color: #ffffff; }