treechildren::-moz-tree-row(even) { background-color: #EF7E68; }
treechildren::-moz-tree-row(odd) { background-color: #EF9868; }

treechildren::-moz-tree-row(selected) { background-color: #5F2317; }
treechildren::-moz-tree-row(even, selected) { background-color: #5F2317; }
treechildren::-moz-tree-row(odd, selected) { background-color: #5F2317; }

treechildren::-moz-tree-row(even) { border-color: #DF7661; }

treechildren::-moz-tree-cell-text(even) { color: #6F1807; }
treechildren::-moz-tree-cell-text(odd) { color: #6F1807; }

treechildren::-moz-tree-cell-text(selected) { color: #ffffff; }
treechildren::-moz-tree-cell-text(even, selected) { color: #ffffff; }
treechildren::-moz-tree-cell-text(odd, selected) { color: #ffffff; }